*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main{
  width: 100%;
  /* height: 750px; */
  /* background-image: url('https://wallpaper.dog/large/17271787.jpg'); */
  background-image: url('https://wallpaperaccess.com/full/1443198.jpg');
  /* background-image: url('https://images.hdqwalls.com/wallpapers/rogue-one-darth-vader-4k-gz.jpg'); */
  /* background-color: black; */
  background-size: cover;
  background-position: center;
  /* padding-bottom: 55px; */
}
.space{
  /* height: 700px; */
}
.translucent{
  width: 100%;
  height: inherit;
  background-color: rgb(0, 0, 0,0.0);
  padding-bottom: 55px;
}
header p mat-toolbar{
  background-color: rgb(0, 0, 0,0.0);
}
.logo{
  font-family: 'Rubik Iso', cursive;
  font-size: 27px;
}
.not-found h1{
  font-family: 'Roboto', sans-serif;
  font-size: 47px;
  font-weight: bold;
  line-height: normal;
  color: rgb(255, 255, 255);
}
.go-home{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.content{
  width: 100%;
  /* height: 100%; */
  /* background-color: rgb(0, 0, 0,0.3); */
  /* padding-bottom: 55px; */
}
.time{
  margin: auto;
}
.row a{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 900;
}
.col-lg-3 img{
  width: 286px;
  height: 350px;
}
.card{
  margin: 10px;
}
.center{
  margin: auto;
  text-align: center;
}
/* media query */
@media screen and ( max-width: 465px) {
  .main{
    background-size: auto;
  }
  .btn1,.btn2{
    width: 100%;
    display: block;
  }
  .buttons{
    text-align: center;
    /* padding-bottom: 20px; */
  }
  .translucent{
    padding-bottom: 30px;
  }
  .space{
    padding-top: 130px;
  }
  .card{
    margin-top: 20px;
  }
}
