<div class="main">
  <div class="translucent">
    <header>
      <p class="mb-0">
        <mat-toolbar>
          <span class="text-warning logo">STAR WARS APP</span>
        </mat-toolbar>
      </p>
    </header>
    <div class="content pt-2">
      <div class="container time">

        <!-- 404 -->
        <div class="row pt-4 pb-5">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center not-found">
            <h1 class=" pb-4">Welcome To The Jedi Order</h1>
          </div>
          <div class="col-lg-2"></div>
        </div>
        <div class="row pt-4 pb-5">
          <!-- card1 -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 center">
            <div class="card bg-transparent text-center" style="width: 18rem;">
              <img src="{{lightSide.image}}" class="card-img-top img-fluid" alt="...">
              <div class="card-body pt-2">
                <h2 class="card-title text-light">{{lightSide.name}}</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Gender : {{lightSide.gender}}</li>
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Species : {{lightSide.species}}</li>
                <li class="list-group-item bg-transparent text-light p-2">Home World : {{lightSide.homeworld}}</li>
              </ul>
            </div>
          </div>
          <!-- card2 -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 center">
            <div class="card bg-transparent text-center" style="width: 18rem;">
              <img src="{{lightSide1.image}}" class="card-img-top img-fluid" alt="...">
              <div class="card-body pt-2">
                <h2 class="card-title text-light">{{lightSide1.name}}</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Gender : {{lightSide1.gender}}</li>
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Species : {{lightSide1.species}}</li>
                <li class="list-group-item bg-transparent text-light p-2">Home World : {{lightSide1.homeworld}}</li>
              </ul>
            </div>
          </div>
          <!-- card3 -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 center">
            <div class="card bg-transparent text-center" style="width: 18rem;">
              <img src="{{lightSide2.image}}" class="card-img-top img-fluid" alt="...">
              <div class="card-body pt-2">
                <h2 class="card-title text-light">{{lightSide2.name}}</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Gender : {{lightSide2.gender}}</li>
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Species : {{lightSide2.species}}</li>
                <li class="list-group-item bg-transparent text-light p-2">Skin color : {{lightSide2.skinColor}}</li>
              </ul>
            </div>
          </div>
          <!-- card4 -->
          <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 center">
            <div class="card bg-transparent text-center" style="width: 18rem;">
              <img src="{{lightSide3.image}}" class="card-img-top img-fluid" alt="...">
              <div class="card-body pt-2">
                <h2 class="card-title text-light">{{lightSide3.name}}</h2>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Gender : {{lightSide3.gender}}</li>
                <li class="list-group-item bg-transparent border-bottom-0 text-light p-2">Species : {{lightSide3.species}}</li>
                <li class="list-group-item bg-transparent text-light p-2">Home World : {{lightSide3.homeworld}}</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- buttons -->
        <div class="row pt-5">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center buttons">
            <span class="btn2">
              <a routerLink="" class="btn btn-light pt-1 pb-1 ps-5 pe-5 light">Home</a>
            </span>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

