<div class="main">
  <div class="translucent">
    <header>
      <p class="mb-0">
        <mat-toolbar>
          <span class="text-warning logo">STAR WARS APP</span>
        </mat-toolbar>
      </p>
    </header>
    <div class="content pt-2">
      <div class="container time">

        <!-- 404 -->
        <div class="row pt-4 pb-5">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 text-center not-found">
            <h1 class="text-light pb-4">404</h1>
            <h2 class="text-light">You have lost your way</h2>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <!-- space -->
        <div class="row space">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
          </div>
          <div class="col-lg-4"></div>
        </div>
        <!-- context -->
        <div class="row pt-5">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 go-home">
            <p class="text-light text-center fs-5">Go home or else Join the Dark Side</p>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <!-- buttons -->
        <div class="row pt-5">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center buttons">
            <span class="btn2">
              <a routerLink="" class="btn btn-light pt-1 pb-1 ps-5 pe-5 light">Home</a>
            </span>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
