<div class="main">
  <div class="translucent">
    <header>
      <p class="mb-0">
        <mat-toolbar>
          <span class="text-warning logo">STAR WARS APP</span>
        </mat-toolbar>
      </p>
    </header>
    <div class="content pt-2">
      <div class="container time">
        <!-- tagline -->
        <div class="row">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <p class="text-info tagline ps-1 pe-1">A long time ago in a galaxy far, far away....</p>
          </div>
          <div class="col-lg-4"></div>
        </div>
        <!-- image -->
        <div class="row pt-1">
          <div class="col-lg-4"></div>
          <div class="col-lg-4 text-center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Star_Wars_Logo..png/640px-Star_Wars_Logo..png" alt="" class="img-fluid">
          </div>
          <div class="col-lg-4"></div>
        </div>
        <!-- context -->
        <div class="row pt-2">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <p class="text-warning tagline1 ps-1 pe-1">It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire.</p>
          </div>
          <div class="col-lg-4"></div>
        </div>
        <!-- choose -->
        <div class="row pt-4">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center">
            <p class="text-light tagline2 ps-1 pe-1">The balance of force is shifting, choose a side, but choose wisely</p>
          </div>
          <div class="col-lg-2"></div>
        </div>
        <!-- buttons -->
        <div class="row pt-5">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center buttons">
            <span class="btn1">
              <a routerLink="light" class="btn btn-light pt-1 pb-1 ps-5 pe-5 light">Light Side</a>
            </span>
            <span class="btn2">
              <a routerLink="dark" class="btn btn-danger pt-1 pb-1 ps-5 pe-5 dark">Dark Side</a>
            </span>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>
